@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    /* 링크의 색상 제거 */
}

:root {
    --primary: #000;
    --secondary: #ffd936;
    --white: #efefef;

}


html,
body {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}


body {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    color: var(--primary);
    touch-action: pan-y;
}

#main {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    object-fit: cover;
    z-index: -1;
}

.container {
    max-width: 1600px;
    padding: 16px;
    margin: auto;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-list a {
    color: var(--white);
    font-size: 20px;
    transition: transform 0.2s ease;
}

.nav-list a:hover {
    color: #0caadb;
    transform: translateY(-20px);

}


.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
    color: var(--white);
}




.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    width: 21px;
    height: 25px;
}


.section-title h1 {
    font-size: 40px;
    text-align: left;
    margin-top: 52px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1px;

}



.section-title .line {
    margin-top: 10px;
    border-top: #000 solid 1px;
}



.projects {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    /*반응형으로 1개로 변환*/
}

.project {
    width: calc(50% - 8px);

}

.project img {
    max-width: 100%;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.03) translateY(-4px);
}

.project h3 {
    margin-top: 10px;
    font-size: 24px;
}


footer .container {
    display: flex;
    padding: 40px 16px;
    align-items: center;
    justify-content: center;
}

footer .container p {
    text-align: center;
}


@media screen and (max-width: 768px) {

    .project {
        width: 100%;
        /* 좁은 화면에서는 꽉 차게 */
    }

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    #main {
        background-image: url('../img/project_main.jpg');
        min-height: 40vh;
        background-position: bottom center;
        background-size: cover;
    }





    .logo {
        width: 60%;
    }

    .menu-btn {
        display: block;

    }


    .nav-list {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.911);
        position: fixed;
        top: 0;
        right: -900px;
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        transition: all 0.3s ease;
    }



    .nav-list a:hover {
        transform: none;
        color: var(--white);
    }


    .nav-list.active {
        right: 0;
    }


    .nav-list li {
        text-align: left;
        width: 100%;
        padding: 10px 30px;
    }

    .nav-list li a {
        font-size: 40px;
        font-family: 'Pretendard';
        font-weight: 900;
        font-style: normal;
    }






    .section-title h1 {
        font-size: 24px;

    }

    .projects {
        margin-top: 10px;
    }

    .projects .project {
        margin-bottom: 30px;
    }



    .project img:hover {
        transform: scale(1.0) translateY(0);
    }


    #about-us .container {
        flex-direction: column;
        gap: 30px;
    }

    footer.container {
        flex-direction: column;
        gap: 16px;
    }
}