@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    /* 링크의 색상 제거 */
}

:root {
    --primary: #000;
    --secondary: #ffd936;
    --white: #efefef;

}


html,
body {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}


body {
    font-family: var(--font-pretendard);
    font-weight: 300;
    font-style: normal;
    color: var(--primary);
    touch-action: pan-y;
}

#main {
    background-color: rgba(0, 0, 0, 0.911);
    min-height: 5vh;
}

/*닌텐도lottie*/
.lottie_project_nintendo {
    width: 100%;
    background-color: #da1b13;

}

#lottie {
    background-position: bottom center;
    background-size: cover;
}


.container {
    max-width: 1600px;
    padding: 16px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-list a {
    color: var(--white);
    font-size: 20px;
    transition: transform 0.2s ease;
}

.nav-list a:hover {
    color: #0caadb;
    transform: translateY(-20px);

}

.btn {
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-secondary {
    border: 1px solid var(--white);
    color: var(--white);
    font-weight: bold;
}

.btn-primary {
    border: none;
    background: var(--secondary);
    color: var(--primary);
}



.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    width: 21px;
    height: 25px;
}

#project .container {
    max-width: 1920px;
    margin: auto;
}

.project #lottie {
    margin-top: 25px;
}

.container .overview {
    display: flex;
    margin: 0 auto;
    padding: 0 5%;
}

.container .overview .detail h3 {
    font-size: 40px;
    text-align: left;
    margin-top: 52px;
    font-family: var(--font-pretendard);
    font-weight: 800;
    font-style: normal;
    color: var(--primary);
}

.container .overview .detail h4 {
    font-size: 28px;
    text-align: left;
    margin-top: 48px;
    font-family: var(--font-pretendard);
    font-weight: 800;
    font-style: normal;
    color: var(--primary);
}


.container .overview .detail p {
    font-size: 24px;
    text-align: left;
    margin-top: 32px;
    font-family: var(--font-pretendard);
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 1.5;
}

.container .overview .detail .contribute {
    font-size: 24px;
    text-align: left;
    margin-top: 16px;
    font-family: var(--font-pretendard);
    font-weight: 400;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 1.5;
    margin-bottom: 45px;
}

.projects {
    display: flex;
    justify-content: center;
}

.project {
    width: 1920px;

}

.project img {
    max-width: 100%;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

/*catparobpa contents*/
.catparobpa_project_background {
    width: 100%;
    height: 160px;
    background: #fff;
}

.catparobpa_btn {
    padding: 28px 120px;
    background-color: #c96a4c;
    border-radius: 80px;
    margin: 0px auto;
    border: none;
    outline: none;
    display: block;
    cursor: pointer;
    text-align: center;
    /* 버튼 내 텍스트를 중앙 정렬 */
}

.catparobpa_btn a {
    font-size: 36px;
    color: #fff;
    font-family: var(--font-pretendard);
    font-weight: 500;
    font-style: normal;
}

/*videography*/

.video-container {
    display: block;
}

.video-container_m {
    display: none;
}


footer .container {
    display: flex;
    padding: 40px 16px;
    align-items: center;
    justify-content: center;
}

footer .container p {
    text-align: center;
}


@media screen and (max-width: 520px) {

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    #main {
        background-attachment: fixed;
        background-size: cover;
    }


    .logo {
        width: 60%;
    }

    .menu-btn {
        display: block;
        z-index: 11;
        /* Ensure it's above the nav-list */
    }


    .nav-list {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.911);
        position: fixed;
        top: 0;
        right: -900px;
        width: 100%;
        height: 100vh;
        padding-top: 80px;
        transition: all 0.3s ease;
        z-index: 11;
        /* Ensure it's above the nav-list */

    }

    .nav-list a:hover {
        transform: none;
        color: var(--white);
    }


    .nav-list.active {
        right: 0;
    }


    .nav-list li {
        text-align: left;
        width: 100%;
        padding: 10px 30px;
    }

    .nav-list li a {
        font-size: 40px;
        font-family: var(--font-pretendard);
        font-weight: 900;
        font-style: normal;
    }

    #main {
        background-image: url('../img/background_main_m.png');
    }

    .project img:hover {
        transform: scale(1.0) translateY(0);
    }

    .container .overview .detail h3 {
        margin-top: 20px;
        font-size: 18px;
    }

    .container .overview .detail p {
        margin-top: 12px;
        font-size: 10px;
        line-height: 1.5;
    }

    .container .overview .detail h4 {
        margin-top: 12px;
        font-size: 16px;
    }

    .container .overview .detail .contribute {
        font-size: 12px;

    }

    /*catparobpa contents*/
    .catparobpa_project_background {
        width: 100%;
        height: 120px;
        background: #fff;
    }

    .catparobpa_btn {
        padding: 10px 50px;
        background-color: #c96a4c;
        border-radius: 80px;
        margin: 0px auto;
        border: none;
        outline: none;
        display: block;
        cursor: pointer;
    }

    .catparobpa_btn a {
        font-size: 16px;
        color: #fff;
        font-family: var(--font-pretendard);
        font-weight: 500;
        font-style: normal;
    }

    /*videography*/

    .video-container {
        display: none;
    }

    .video-container_m {
        display: block;
        position: relative;
        width: 100vw;
        height: 0;
        padding-bottom: 56.25%;
        /* 16:9 aspect ratio */
        margin-left: -16px;
        margin-right: -16px;
    }

    .video-container_m iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #about-us .container {
        flex-direction: column;
        gap: 30px;
    }

    footer.container {
        flex-direction: column;
        gap: 16px;
    }
}